<script src="https://unpkg.com/@waline/client@v2/dist/waline.js"></script>
<link rel="stylesheet" href="https://unpkg.com/@waline/client@v2/dist/waline.css" />
<div id="waline"></div>
<script>
  $(function() {
    const locale = {
      placeholder: '{{ site.comments.waline.placeholder }}',
      level0: '潜水',
      level1: '冒泡',
      level2: '摸鱼',
      level3: '话痨',
      level4: '话满天',
      level5: '龙王',
    };
    Waline.init({
      el: '#waline',
      lang: 'en',
      reaction: true, 
      serverURL: '{{ site.comments.waline.server }}',
      emoji: [
        'https://unpkg.com/@waline/emojis@1.1.0/qq',
        'https://unpkg.com/@waline/emojis@1.1.0/tw-emoji',
        'https://unpkg.com/@waline/emojis@1.1.0/bmoji',
      ],
      dark: "__waline__css__",
      locale,
    });
    let head = document.getElementsByTagName("head")[0];
    let css = head.lastChild;
    let cssContent = css.textContent.replace("__waline__css__", "");
    let cssContentPerferredDark = "@media (prefers-color-scheme: dark){html:not([data-mode])" + cssContent + "}";
    let cssContentSelectedDark = "html[data-mode=dark]" + cssContent;
    css.textContent = cssContentPerferredDark;
    let style = document.createElement('style');
    style.textContent = cssContentSelectedDark;
    head.appendChild(style);
  });
</script>